*:focus {outline: none;}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form {
    width: 300px;
    padding: 32px; 
    border-radius: 10px; 
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif; 
    letter-spacing: 1px;
}
.form_title { 
    text-align: center;
    margin: 0 0 32px 0; 
    font-weight: normal;
}